.shadowHeader {
    height: 110px;
}
.headerContainer {
    position: absolute;
    /* height: 100px; */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #010101;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.headerRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.headerBottom {
    
    height: 5px;
    width: 100%;
    background: linear-gradient(90deg, #69035F 40.02%, #001839 80.98%);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);

}

@media (max-width: 800px) {
    .titleLarge {
        display: none;
    }
}
@media (min-width: 801px) {
    .titleSmall {
        display: none;
    }
}

.titleLarge {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.5px;
    margin: 0;
    color: white;
}
.titleSmall {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.5px;
    margin: 0;
    color: white;
}

.uploadLink {
    font-weight: 700;
    font-size: 80px;
    color: white;
    position: absolute;
    right: 20px;
    top: -9px;
    transition: 0.25s all ease;
}

.uploadLink:hover {
    color: white;
    font-size: 90px;
    top: -18px;
    right: 16px;
    opacity: 1;

}

.closeArea {
    content: '';
    height: 10vh;
    width: 100%;
    position: absolute;
    bottom: -10vh;
    left: 0;
    right: 0;
    z-index: 1000;
}

