.container {
    position: absolute;
    background: black;
    overflow: clip;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

    top: 120px;
    right: 20px;
    width: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    z-index: 1000;
    padding-top: 8px;
}

.buttonMain {
    margin-bottom: 10px;
    background: none;
    width: 100%;
    align-items: center;
}

.button {
    background: none;
    width: 100%;
    align-items: center;
    position: relative;
}

.activeCircle {
    position: absolute;
    left: 12px;
}
