.cardButton {
    border-radius: 10px;
    width: 142px;
    height: 52px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF; 
    margin-top: 15px;
}
